[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
neovim = "*"
numba = "*"
icc-rt = "*"
tbb = "*"
pylint = "*"
matplotlib = "*"
pyqt5 = "*"

[requires]
python_version = "3.7"
